@import 'parts/reset';
@import 'parts/core';
@import 'parts/grid';
@import 'parts/dropdowns';

// GLOBAL STYLES

body {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.accordion {
  position: relative;
}

.mobile-block {
  display: none;
}

//HEADER STYLES
.header {
  padding: 20px 0 15px;
  margin-bottom: 4px;
  .header-flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-search-form {
    display: block;
    position: relative;
    width: 100%;
    .header-search-input {
      width: 100%;
      display: inline;
      padding: 11px 60px 12px 13px;
    }
    .submit-search-btn {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .header-flex-item {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    width: calc(100% / 3);
  }
  .header-third-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .main-logo {
    display: inline-block;
  }
  .icon-text {
    display: inline;
    white-space: nowrap;
  }
  .header-icon-link {
    text-align: center;
    display: inline-block;
    padding: 3px 12px 0;
    &.header-navbar-btn,
    &.header-brands-link {
      display: none;
    }
  }
  .like-icon,
  .account-icon,
  .basket-icon {
    margin: 0 auto 5px;
    display: block;
  }
  .like-icon {
    width: 35px;
    height: 30px;
  }
  .account-icon {
    width: 23px;
    height: 30px;
  }
  .basket-icon {
    width: 38px;
    height: 30px;
  }
}

.search-autocomplete-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.search-autocomplete__title {
  padding: 5px;
  text-align: center;
}
.search-autocomplete__item {
  padding: 10px;
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.search-autocomplete__item-marque {
  .search-autocomplete__item-left {
    width: 30px;
  }
  .search-autocomplete__item-middle {
    width: calc(100% - 30px - 40px);
    padding: 0 10px;
  }
  .search-autocomplete__item-right {
    width: 40px;
    text-align: right;
  }
}

.search-autocomplete__item-cat {
  .search-autocomplete__item-left {
    width: 75%;
  }
  .search-autocomplete__item-right {
    width: 25%;
    text-align: right;
  }
}

.search-autocomplete__item-prod {
  .search-autocomplete__item-left {
    width: 30px;
  }
  .search-autocomplete__item-middle {
    width: calc(100% - 30px);
    padding: 0 10px;
  }
  .search-autocomplete__item-right {
    width: 100%;
    text-align: right;
  }
}

.relative-container {
  position: relative;
}
.header-overlay-block {
  display: none;
  position: absolute;
  padding: 15px 30px 20px;
  top: 55px;
  right: 0;
  width: 300px;

  .header-overlay-p {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    margin-top: 9px;
  }
  .header-overlay-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6px 50px;
  }
  .header-overlay-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
  }
  hr {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.top-banner {
  display: block;
  padding: 4px 15px;
  text-align: center;
}

//SUB HEADER STYLES

.sub-nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .left-sub-col {
    flex: 0 0 91%;
    max-width: 91%;
    width: 91%;
  }
  .right-sub-col {
    flex: 0 0 9%;
    max-width: 9%;
    width: 9%;
  }
  .marques-link {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
  }
}
.left-sub-col__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  .link-item {
    display: block;
    min-height: 35px;
    padding: 0 10px;
  }
}

.left-sub-col__bottom-row {
  .link-item--sub {
    padding: 0 10px;
    display: inline-block;
    max-height: 25px;
    &.link-item--sub-second {
      margin-left: 5px;
    }

    &.link-item--sub-third,
    &.link-item--sub-fourth {
      margin-left: 1px;
    }
  }
}

//MAIN STYLES

.breadcrumb {
  padding: 15px;
}

.breadcrumb-item {
  position: relative;
  padding-right: 15px;
  margin-right: 3px;
}

.h1-heading {
  margin: 10px 0 15px;
  text-align: center;
  padding: 0 0 10px;
}

//left col styles
.left-col-title {
  margin: 0 0 10px;
  padding: 0 0 5px;
}

.category-link {
  display: block;
  padding: 0 30px 0 0;
}
//left col styles end

//filter-styles
.filters-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.autocomplete-element,
.filter-select-wrap {
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
}

.ui-autocomplete-input {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 10px 0 0;
  padding: 0 5px;
}

.filter-select {
  width: 100%;
  height: 25px;
}
//filter-styles end

//item
.items-wrap {
  margin-left: 0;
  margin-right: 0;
}

.goods-item-content {
  padding: 10px 15px 20px;
  margin-top: 40px;
}

.img-item-wrap {
  padding: 9px;
  margin-bottom: 13px;
}

.sale-box {
  width: 100px;
  height: 100px;
}

.sale-box__text {
  text-align: center;
}

.item-name {
  margin-bottom: 9px;
  height: 45px;
  text-align: center;
  overflow: hidden;
}

.item-manufacturer {
  margin-bottom: 9px;
  text-align: center;
}

.rating-footer {
  display: inline-block;
  text-align: center;
  max-width: 120px;
}

.item-rating {
  position: relative;
  width: 100px;
  height: 18px;
  margin: 0 auto 12px;
}

.item-rating__inner {
  height: 18px;
  width: 100%;
}

.item-rating__inner-90 {
  width: 90%;
}

.item-rating__inner-80 {
  width: 80%;
}

.item-rating__inner-70 {
  width: 70%;
}

.item-rating__inner-60 {
  width: 60%;
}

.item-rating__inner-50 {
  width: 49%;
}

.item-rating__inner-40 {
  width: 40%;
}

.item-rating__inner-30 {
  width: 29%;
}

.item-rating__inner-20 {
  width: 20%;
}

.item-rating__inner-10 {
  width: 9%;
}

.item-rating__inner-0 {
  width: 0%;
}
.item-description {
  height: 77px;
  overflow: hidden;
  margin-bottom: 20px;
}

.item-price {
  text-align: center;
  padding: 14px 0 15px;
}

.item-buy-btn {
  width: 132px;
  height: 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
//item-end

//page-navigation
.pagination-right {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}

.pagination-link {
  padding: 2px 4px;
  display: inline-block;
}
//page-navigation-end

//similar-product-section
.similar-product {
  padding: 40px 0;
}

.similiar-product__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.similar-product__title {
  margin-bottom: 20px;
}

.similar-product__item {
  width: 18%;
  padding: 8px 0;
  display: inline-block;
}
//similar-product-section-end

//services-section
.services {
  padding-top: 50px;
  margin-bottom: 50px;
}

.services-align {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services-link {
  max-width: 170px;
  text-align: center;
}

.services-link__img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
//services-section-end

//social-section
.social {
  padding: 25px 0;
  margin-top: 20px;
}

.social__row {
  align-items: center;
}

.social-title {
  margin-bottom: 5px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form__input {
  padding: 0 25px 0 10px;
  height: 36px;
  width: calc(100% - 36px);
}

.subscribe-form__btn {
  height: 36px;
  width: 36px;
  text-align: center;
}

.social-align {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.social-link {
  display: inline-block;
  height: 42px;
  margin-left: 30px;
  &--fb {
    width: 20px;
    background-position: -445px -189px;
    &:hover {
      background-position: -187px -79px;
    }
  }
  &--istagram {
    width: 42px;
    background-position: -519px -34px;
    &:hover {
      background-position: -217px -79px;
    }
  }
  &--youtube {
    width: 93px;
    background-position: -335px -409px;
    &:hover {
      background-position: -269px -79px;
    }
  }
}
//social-section-end

//MAIN STYLES END

//FOOTER STYLES

.footer {
  padding: 50px 0;
}

.footer__top-row {
  margin-bottom: 20px;
}

.footer-title {
  width: 100%;
  margin: 0 0 13px 0;
  padding: 10px 25px 10px 0;
}

.footer-link {
  display: block;
  padding-bottom: 2px;
}

.footer-icon-link {
  display: inline-block;
  margin-right: 5px;
  height: 35px;
  &--relay {
    width: 32px;
  }
  &--colis {
    width: 27px;
  }
  &--gls {
    width: 86px;
  }
  &--bancontact {
    width: 40px;
  }
  &--maestro {
    width: 43px;
  }
  &--mastercard {
    width: 47px;
  }
  &--visa {
    width: 38px;
  }
  &--paypal {
    width: 32px;
  }
  &--cb {
    width: 44px;
  }
  &--vb {
    width: 44px;
  }
  &--ssl {
    width: 34px;
  }
}

//FOOTER STYLES END

.mobile-navbar-container {
  display: none;
}

//MEDIA STYLES

@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  .social-align {
    margin-top: 30px;
    justify-content: center;
  }
  .breadcrumb {
    display: none;
  }

  // HEADER STYLES

  .header {
    margin-bottom: 10px;
    .header-flex-row {
      flex-wrap: wrap;
    }
    .header-first-item,
    .header-second-item {
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
    }
    .header-second-item {
      padding-left: 15px;
    }
    .header-third-item {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
    }
    .header-icon-link {
      &.header-navbar-btn,
      &.header-brands-link {
        display: block;
      }
    }
  }

  .burger-icon {
    width: 38px;
    height: 30px;
    margin: 0 auto 5px;
    display: block;
  }
  .brands-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 5px;
  }
  .sub-header {
    display: none;
  }
  // MOBILE NAVBAR

  .mobile-navbar-container {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
    .mobile-navbar-content {
      position: relative;
      height: 100vh;
      max-width: 70%;
      padding: 10px 20px;
    }
    .close-mobile-navbar-btn {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .mobile-navbar-title {
      margin: 10px 0 0;
      text-align: center;
      display: block;
    }
    hr {
      margin: 0px;
      margin-top: 18px;
    }
    .mobile-navbar-item {
      height: 46px;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

@media (max-width: 767px) {
  .header {
    .header-icon-link {
      padding: 3px 5px 0;
    }
  }

  .left-col-title,
  .category-wrap {
    display: none;
  }
  .filters-wrap {
    display: none;
  }
  .services {
    padding-top: 25px;
    margin-bottom: 0;
  }
  .services-link {
    width: 50%;
    margin-bottom: 20px;
    max-width: none;
  }
  .social-subtitle {
    margin-bottom: 10px;
  }
  .social-align {
    display: block;
    text-align: center;
  }
  .social-title2 {
    display: block;
    margin-bottom: 10px;
    text-align-last: left;
  }
  .social-link {
    margin: 0 10px;
  }
  .similar-product__item {
    width: 100%;
    padding: 5px 0;
  }
  .footer {
    padding: 30px 0 0;
  }
  .footer__top-row {
    margin-bottom: 0;
  }
  .footer-title {
    padding-left: 10px;
    position: relative;
  }
  .footer-accordion {
    margin-bottom: 20px;
  }
}

@media (max-width: 374px) {
  .header {
    .icon-text {
      display: none;
    }
  }
  .header .header-first-item,
  .header .header-second-item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .header .header-first-item {
    margin-bottom: 9px;
  }
}
