/* GLOBAL CORE STYLES FOR PROJECT -------------
----------------------------------------------*/
a img {
  border: none;
}

button {
  background: none;
  border: none;
  padding: 0px;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  &.desktop-block {
    display: flex;
  }
  &.al-center {
    align-items: center;
  }
  &.js-between {
    justify-content: space-between;
  }
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity .2s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
