.header-navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-toggler {
    .navbar-toggler-icon {
        display: block;
        background: #fff;
        height: 2px;
        margin-bottom: 5px;
        width: 20px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-toggler {
        display: none;
    }
}